<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://apis.google.com/js/platform.js?onload=onload" async defer></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <title>Piano Tutoring</title>


  <!-- google fonts Ubuntu, montserrat-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu:400,700i&display=swap" rel="stylesheet">


  <!-- font awesome-->
  <script src="https://kit.fontawesome.com/e156ac3480.js" crossorigin="anonymous"></script>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/lecture-playing.css" />

  <!-- bootstrap Javascript, jQuery-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!-- metronome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <style>
    #defaultCanvas0 {
    }
  </style> -->
</head>

<body>

  <section id="title">
    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">piano tutoring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <% if(login_state) { %>
              <a class="nav-link" href="/userRoom"><%= user_name %>님</a>
              <% } else { %>
              <a class="login-button" href="/userRoom"><i class="far fa-user-circle fa-2x"></i></a>
              <% } %>
            </li>
        </div>

      </nav>
    </div>

    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 mb-4">

        <div class="card">
          <div class="card-block p-3">
            <!--Title-->
            <h3 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>lecture</strong></h3>

            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="<%=lecture[0].video_path%>" allowfullscreen></iframe>
            </div>
          </div>
        </div>

      </div>
      <!-- Grid column -->

    </div>

    <div class="container-fluid">
      <div class="col-lg-12 default-file-upload">
        <h4>After lecture, playing video for feedback !</h4>
        <form action="/uploadFB?" enctype="multipart/form-data" method="POST">
          <input id="file-upload1" class="fill-upload" type="file" name='feedback' />
          <span>
            <div class="container" style="display: inline; margin-left: -100px;">
              <div class="row" style="display: inline;">
                <div class="col-md-12" style="display: inline;">
                  <button id="submit" type="submit" class="btn btn-labeled btn-dark">Submit</button>
                </div>
              </div>
            </div>
          </span>
        </form>
      </div>

      <div class="checkbox">
        <input id="trigger1" type="checkbox">
        <label for="trigger1" class="checker"></label>

        <input id="trigger2" type="checkbox">
        <label for="trigger2" class="checker"></label>

        <input id="trigger3" type="checkbox">
        <label for="trigger3" class="checker"></label>

        <input id="trigger4" type="checkbox">
        <label for="trigger4" class="checker"></label>

        <input id="trigger5" type="checkbox">
        <label for="trigger5" class="checker"></label>

        <input id="trigger6" type="checkbox">
        <label for="trigger6" class="checker"></label>

        <input id="trigger7" type="checkbox">
        <label for="trigger7" class="checker"></label>

        <input id="trigger8" type="checkbox">
        <label for="trigger8" class="checker"></label>

        <input id="trigger9" type="checkbox">
        <label for="trigger9" class="checker"></label>

        <input id="trigger10" type="checkbox">
        <label for="trigger10" class="checker"></label>
      </div>

      <div class="container">
        <h1>Metronome</h1>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="tempo">Tempo</label>
              <input id="tempo" class='form-control' type="number" value='60' min='20' max='180'
                onChange="metronomeApp.setTempo(this.value);">
            </div>
            <div class="form-group">
              <label for="metroSound">Sound</label>
              <select id="metroSound" class="form-control" onChange="metronomeApp.setSound(this.selectedIndex + 1)">
              </select>
            </div>
            <div class="form-group">
              <label for="visType">Visualization</label>
              <select id="visType" class="form-control" onChange="metronomeApp.setVisualization(this.selectedIndex)">
              </select>
            </div>
            <div class="form-group">
              <input id="metronome" class="form-control btn btn-secondary" type="button" value="Start"
                onclick="metronomeApp.toggle()" />
            </div>
          </div>
          <div id='visualization' class="col-sm">
          </div>
        </div>
      </div>

    </div>

  </section>
  <!-- metronome script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="webapp/js/metronome-sound.js"></script>
  <script src="webapp/js/visualization.js"></script>
  <script src="webapp/js/app.js"></script>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  $(document).ready(function () {
    $("#submit").click(function () {
      if ($("#file-upload1").val().length == 0) {
        alert("파일을 첨부하지 않았습니다");
        $("#file-upload1").focus(); return false;
      }
    })
  })
</script>