<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Piano Tutoring</title>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- google fonts Ubuntu, montserrat-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu:400,700i&display=swap" rel="stylesheet">


  <!-- font awesome-->
  <script src="https://kit.fontawesome.com/e156ac3480.js" crossorigin="anonymous"></script>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/post-page.css" />

  <!-- bootstrap Javascript, jQuery-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script>
    function upload() {
      var title_value = document.querySelector("#post_title").value;
      var description_value = document.querySelector("#description").value;
      var path_value = "files/" + document.querySelector("#file-upload1").files[0].name;
      if (!title_value) {
        alert("제목을 입력하세요");
      } else if (!description_value) {
        alert("내용을 입력하세요");
      } else {
        axios
          .post("/uploadPost", {
            title: title_value,
            description: description_value,
            video_path: path_value
          })
          .then(function (result) {
            if (result.status === 200) window.location.href = "/community";
          })
          .catch(function (error) {
            alert(error.message);
          });
      }
    }
  </script>
</head>

<body>

  <section id="title">
    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">piano tutoring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <% if(login_state) { %>
              <a class="nav-link" href="/userRoom"><%= user_name %>님</a>
              <% } else { %>
              <a class="login-button" href="/userRoom"><i class="far fa-user-circle fa-2x"></i></a>
              <% } %>
            </li>
        </div>
        </li>
        </ul>

      </nav>

  </section>

  <section id="post-form">
    <div class="container">
      <div class="row">

        <div class="col">

          <h1>Create post</h1>

          <div class="form-group">
            <label for="title">Title</label>
            <input id="post_title" type="text" class="form-control" name="title" />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" rows="5" class="form-control" name="description"></textarea>
          </div>

          <input id="file-upload1" class="fill-upload" type="file" name="file" />
          <img id="LoadImg">
          <span>
            <div class="container" style="display: inline; margin-left: -100px;">
              <div class="row" style="display: inline;">
                <div class="col-md-12" style="display: inline;">
                  <button type="botton" class="btn btn-labeled btn-dark" onclick="submitFile()">Submit</button>
                </div>
              </div>
            </div>
          </span>


        </div>

      </div>
    </div>
  </section>

  <!-- Footer -->

  <footer id="footer">
    <h3>Find the Joy of Learning piano's Life Today.</h3>
    <p>made by ECONOVATION TEAM youngDev</p>
    <p>© Copyright 2020 pianotutoring</p>
  </footer>

</body>
<script>
  function submitFile() {
    var f = document.querySelector("#file-upload1").files[0];
    let data = new FormData();
    data.append('file', f, f.name);
    const config = { headers: { 'Content-Type': 'multipart/form-data' } };
    axios
      .post("/uploadCF", data, config)
      .then(function (result) {
        if (result.status === 200) upload();
      })
      .catch(function (error) {
        alert(error.message);
      });
  }

  // function upload() {
  //   var title_value = document.querySelector("#post_title").value;
  //   var description_value = document.querySelector("#description").value;
  //   var path_value = document.querySelector("#file-upload1").files[0].name;
  //   if (!title_value) {
  //     alert("제목을 입력하세요");
  //   } else if (!description_value) {
  //     alert("내용을 입력하세요");
  //   } else {
  //     axios
  //       .post("/uploadPost", {
  //         title: title_value,
  //         description: description_value,
  //         video_path: `'uploads/${path_value}'`
  //       }).then(function (result) {
  //         if (result.status === 200) window.location.href = "/community";
  //       })
  //       .catch(function (error) {
  //         alert(error.message);
  //       })
  //   }
  // }
</script>

</html>