<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Piano Tutoring</title>

  <!-- google fonts Ubuntu, montserrat-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu:400,700i&display=swap" rel="stylesheet">


  <!-- font awesome-->
  <script src="https://kit.fontawesome.com/e156ac3480.js" crossorigin="anonymous"></script>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/songs.css" />

  <!-- bootstrap Javascript, jQuery-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>

  <section id="title">
    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">piano tutoring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutors">Tutors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/songs">Songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/community">Community</a>
            </li>
            <li class="nav-item">
              <% if(login_state) { %>
                <a class="nav-link" href="/userRoom"><%= user_name %>님</a>
              <% } else { %>
                <a class="login-button" href="/userRoom"><i class="far fa-user-circle fa-2x"></i></a 3>
              <% } %>
            </li>
        </div>
        </li>
        </ul>

      </nav>



      <!-- masthead
      <section id="masthead"></section>
        <div class="row">

          <div class="col-lg-6">
          <h1>SONGS</h1>
          </div>

        </div>
      </section> -->
    </div>
  </section>


  <!--songs-->
  
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Songs</h1>      <p class="lead font-weight-normal">Simple and affordable price plans for you, Find a song who fits you well.</p>
    <a class="btn btn-outline-secondary" href="#">More Details</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    
    <div class="container-fluid">
      <div class="row">
       <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
          <h2 class="display-5">Sakamoto Ryuichi</h2>
          <p class="lead">Merry Christmas Mr.Lawrence</p>
          </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/ryuichisakamoto.png)"></div>
          </div>

          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
           <h2 class="display-5">WE LOVE CREAT</h2>
           <p class="lead">The time, penetrated</p>
           </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/[ccm]welove시간을뚫고.png)"></div>
          </div>

         <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Sakamoto Ryuichi</h2>
            <p class="lead">Merry Christmas Mr.Lawrence</p>
          </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/[pop]badguy.png)"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
       <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
          <h2 class="display-5">Sakamoto Ryuichi</h2>
          <p class="lead">Merry Christmas Mr.Lawrence</p>
          </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/ryuichisakamoto.png)"></div>
          </div>

          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
           <h2 class="display-5">WE LOVE CREAT</h2>
           <p class="lead">The time, penetrated</p>
           </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/[ccm]welove시간을뚫고.png)"></div>
          </div>

         <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Sakamoto Ryuichi</h2>
            <p class="lead">Merry Christmas Mr.Lawrence</p>
          </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/[pop]badguy.png)"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
       <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
          <h2 class="display-5">Sakamoto Ryuichi</h2>
          <p class="lead">Merry Christmas Mr.Lawrence</p>
          </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/ryuichisakamoto.png)"></div>
          </div>

          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
           <h2 class="display-5">WE LOVE CREAT</h2>
           <p class="lead">The time, penetrated</p>
           </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/[ccm]welove시간을뚫고.png)"></div>
          </div>

         <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Sakamoto Ryuichi</h2>
            <p class="lead">Merry Christmas Mr.Lawrence</p>
          </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/[pop]badguy.png)"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
       <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
          <h2 class="display-5">Sakamoto Ryuichi</h2>
          <p class="lead">Merry Christmas Mr.Lawrence</p>
          </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/ryuichisakamoto.png)"></div>
          </div>

          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
           <h2 class="display-5">WE LOVE CREAT</h2>
           <p class="lead">The time, penetrated</p>
           </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/[ccm]welove시간을뚫고.png)"></div>
          </div>

         <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Sakamoto Ryuichi</h2>
            <p class="lead">Merry Christmas Mr.Lawrence</p>
          </div>
          <div class="album bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url(../images/[pop]badguy.png)"></div>
          </div>
        </div>
      </div>
    </div>


      

  <!-- Footer -->

  <footer id="footer">
    <h3>Find the Joy of Learning piano's Life Today.</h3>
    <p>made by ECONOVATION TEAM youngDev</p>
    <p>© Copyright 2020 pianotutoring</p>  
  </footer>


</body>

</html>
